{% extends 'webhosting_plan.html.twig' %}
{% set active = 'dedicated_servers' %}

{# title #}
{% block title %}VPS Hosting Plans &amp; VPS Servers{% endblock %}

{# keywords #}
{% block keywords %}vps hosting, vps servers, virtual private server, virtual private servers, hosting{% endblock %}

{# description #}
{% block description %}VPS Hosting Plans and VPS Servers by InMotion Hosting. Our top rated Virtual Private Servers are reliable, powerful, and affordable.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span6 white">
        <h1>Dedicated Servers</h1>
        <p>Our managed dedicated servers give your websites the highest level of speed, security and uptime. With over 10 years of hosting experience, we know what it takes to keep our servers performing at their fullest. From hardware matching CPU + RAM, to optimizing the LAMP stack, our system administrators are the experts.</p>
    </div>
    <div class="leader-dedi-cta-place">
        <div class="span3"><span class="btn btn-primary">order now</span></div>
     </div>
{% endblock %}
{# secondplaceplan #}
{% block secondplaceplan %}
    <h3 class="blanky package-title">
    <img src="{{ app.request.basepath }}/img/package-icon-tier1.png" alt="Launch Business Package" class="tier-space">ESSENTIAL</h3>
    <p class="package-subtitle">Affordable solution for your needs</p>
    <div class="pricebox offs"><sup>$</sup>119<sup>95</sup><sub>/mo.</sub></div>
    <dl class="split-center">
        <dt class="split-center-title">Intel Core E2220/E5400</dt>
        <dd class="split-center-value">Dual Core /2T</dd>
        <dt class="split-center-title">RAM:</dt>
        <dd class="split-center-value">2GB</dd></br>
        <dt class="split-center-title">Storage:</dt>
        <dd class="split-center-value">2 x 160GB</dd></br>
        <dt class="split-center-title">Bandwith:</dt>
        <dd class="split-center-value">2.5TB/mo.</dd></br>
        <dt class="split-center-title">IP Addresses:</dt>
        <dd class="split-center-value">5</dd></br>
        <dt class="split-center-title">Environment:</dt>
        <dd class="split-center-value">CentOS, cPanel, WHM</dd></br>
    </dl>
    <div class="mid">
        <a href="#" class="btn btn-primary over">order now</a>
    </div>
{% endblock %}
{# firstplaceplan #}
{% block firstplaceplan %}
    <h3 class="blanky package-title"><img src="{{ app.request.basepath }}/img/package-icon-tier2.png" alt="Power Business Package" class="tier-space">ADVANCED</h3>
    <p class="package-subtitle">The best value for responsive, powerful websites</p>
    <div class="pricebox offs"><sup>$</sup>139<sup>95</sup><sub>/mo.</sub></div>
    <dl class="split-center">
        <dt class="split-center-title">Intel Xeon E3-1220 3.1GHz 8MB Cache Turbo Quad Core /4T</dt>
        <dd class="split-center-value"></dd>
        <dt class="split-center-title">RAM:</dt>
        <dd class="split-center-value">4GB</dd></br>
        <dt class="split-center-title">Storage:</dt>
        <dd class="split-center-value">500GB</dd></br>
        <dt class="split-center-title">Bandwith:</dt>
        <dd class="split-center-value">3.0TB/mo.</dd></br>
        <dt class="split-center-title">IP Addresses:</dt>
        <dd class="split-center-value">10</dd></br>
        <dt class="split-center-title">Environment:</dt>
        <dd class="split-center-value">CentOS, cPanel, WHM</dd></br>
    </dl>
    <div class="mid">
        <a href="#" class="btn btn-primary over">order now</a>
    </div>
{% endblock %}
{# thirdplaceplan #}
{% block thirdplaceplan %}
    <h3 class="icon package-title blanky"><img src="{{ app.request.basepath }}/img/package-icon-tier3.png" alt="Pro Business Package" class="tier-space">ELITE</h3>
    <p class="package-subtitle">High performance</p>
    <div class="pricebox"><sup>$</sup>189<sup>95</sup><sub>/mo.</sub></div>
    <dl class="split-center">
        <dt class="split-center-title">Intel Xeon E3-1230 3.2GHz 8MB Cache Turbo Quad Core /8T</dt>
        <dd class="split-center-value"></dd></br>
        <dt class="split-center-title">Storage:</dt>
        <dd class="split-center-value">500GB</dd></br>
        <dt class="split-center-title">Bandwith:</dt>
        <dd class="split-center-value">4.0TB/mo.</dd></br>
        <dt class="split-center-title">IP Addresses:</dt>
        <dd class="split-center-value">15</dd></br>
        <dt class="split-center-title">Environment:</dt>
        <dd class="split-center-value">CentOS, cPanel, WHM</dd></br>
        <dt class="split-center-title">Backups:</dt>
        <dd class="split-center-value">Every 24-36 hours</dd>
    </dl>
    <div class="mid">
        <a href="#" class="btn btn-primary over">order now</a>
    </div>
{% endblock %}
{# webhostingtabbednav #}
{% block webhostingtabbednav %}
    <li><a href="#uses" data-toggle="tab">Typical Uses</a></li>
    <li class="active"><a href="#specifications" data-toggle="tab">Specifications<div class="arrow"></div></a></li>
    <li><a href="#support" data-toggle="tab">Support</a></li>
    <li><a href="#developers" data-toggle="tab">Developers</a></li>
{% endblock %}
{# webhostingtabbedcontent #}
{% block webhostingtabbedcontent %}
<div class="tab-pane" id="uses">
    <ul class="nav nav-tabs nav-stacked">
        <li><a href="" class="overview">Overview</a></li>
        <li><a href="" class="support">Support</a></li>
        <li><a href="" class="technology">Technology</a></li>
        <li><a href="" class="reliability">Reliability</a></li>
        <li><a href="" class="guarantee">Guarantee</a></li>
        <li><a href="" class="software">Software</a></li>
        <li><a href="" class="gogreen">Go Green</a></li>
    </ul>
</div><!-- /#uses -->
<div class="tab-pane active dedi-specification" id="specifications">
    <table class="table table-striped">
        <caption class="a11y">Listing of Business Hosting Plan Specifications and Pricing</caption>
        <colgroup span="1" class="plan-specification-listing"></colgroup>
        <colgroup span="1" class="plan-specification-example"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1" class="plan-specification-featured"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <thead>
            <tr>
                <td></td>
                <th scope="col" class="tb-title">Essential</th>
                <th scope="col" class="tb-title">Advanced</th>
                <th scope="col" class="tb-title">Elite</th>
                <th scope="col" class="tb-title">Comm. #1</th>
                <th scope="col" class="tb-title">Comm. #2</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="row">Price</th>
                <td>$119.95/mo.</td>
                <td>$139.95/mo.</td>
                <td>$189.95/mo.</td>
                <td>$469.95/mo.</td>
                <td>$569.95/mo.</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th scope="row">Intel CPU Specs</th>
                <td>Intel® Core® E2220/E5400</td>
                <td>Xeon® E3-1220</td>
                <td>Xeon® E3-1230</td>
                <td>Intel® Xeon® E5645 </td>
                <td>Intel® Xeon® E5645</td>
            </tr>
            <tr>
                <th scope="row">CPU Cache</th>
                <td>1MB</td>
                <td>8MB</td>
                <td>8MB</td>
                <td>12MB</td>
                <td>12MB</td>
            </tr>
            <tr>
                <th scope="row">Memory Included</th>
                <td>2GB</td>
                <td>4GB</td>
                <td>8GB</td>
                <td>16GB</td>
                <td>32GB</td>
            </tr>
            <tr>
                 <th scope="row">Front Side Bus</th>
                <td>800MHz</td>
                <td>1333MHz</td>
                <td>1333MHz</td>
                <td>1333MHz</td>
                <td>1333MHz Dual</td>
            </tr>
            <tr>
                <th scope="row">Disk Space</th>
                <td>2 x 160GB</td>
                <td>500GB</td>
                <td>500GB</td>
                <td>600GB</td>
                <td>600GB</td>
            </tr>
            <tr>
                <th scope="row">RAID 1 Fault Tolerant</th>
                <td><span class="ir unacceptable">Not Included</span></td>
                <td><span class="ir unacceptable">Not Included</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
            </tr>
            <tr>
                <th scope="row">Monthly Premium Transfer</th>
                <td>2500GB</td>
                <td>3000GB</td>
                <td>4000GB</td>
                <td>3000GB</td>
                <td>3000GB</td>
            </tr>
            <tr>
                <th scope="row">Full cPanel License</th>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
            </tr>
        </tbody>
    </table>  
    <a href="#" class="btn btn-info">VIEW MORE SPECS</a>         
</div><!-- /#specifications -->
<div class="tab-pane" id="support">
    <div class="island0 pull-left adthree mr20">
        <h2>24/7 Award-Winning Support</h2>
        <p>With optional full Root Access management, you are in control. But that doesn’t mean you’re on your own. Get a hold of us either by phone, email or live chat.</p><p>We are here to help. But with a partially managed server, there are limits as to what our responsibilities are. Please see the below table for more information.</p>
    </div>
    <div class="island20 pull-left raised adthree mr20">
        <h3 class="">Coverage</h3>
        <ul class="checkli">
            <li>CentOS updates and security patches</li>
            <li>cPanel and WHM support</li>
            <li>Hardware maintenance and replacement</li>
            <li>System level performance monitoring</li>
            <li>Monitoring and maintaining network uptime</li>
            <li>Network security support</li>
            <li>Apache, MySQL, Exim and PureFTPd web server support</li>
        </ul>
    </div>
    <div class="island20 pull-left raised adthree">
        <h3 class="">Your Responsibilites</h3>
        <ul class="checkli">
            <li>Advanced server administration</li>
            <li>Databse administration</li>
            <li>Custom application support</li>
            <li>User script errors</li>
            <li>Server backups</li>
        </ul>
    </div>
</div><!-- /#support -->
<div class="tab-pane" id="developers">
    <div class="island0 pull-left adthree mr20">
        <h2>Spend time with clients and coding, not hassling with hosting.</h2>
        <p>Take control of your Dedicated Server and utilize it as you see fit. With our CentOS environment, and optional Root Access, the possibilities are endless. Call us today to get started!</p>
    </div>
<div class="island20 pull-left raised adthree mr20">
    <h3 class="">Included:</h3>
        <ul class="checkli">
            <li>CentOS updates and security patches</li>
            <li>cPanel and WHM support</li>
            <li>Hardware maintenance and replacement</li>
            <li>System level performance monitoring</li>
            <li>24-hour server and bandwidth monitoring</li>
            <li>Network security support</li>
            <li>Apache (Linux) web server support</li>
        </ul>
    </div>
    <div class="island20 pull-left raised adthree">
        <h3 class="">Rock-solid Hardware</h3>
        <ul class="checkli">
            <li>High-performance Dell servers</li>
            <li>Custom Advanced Policy Firewall</li>
            <li>Enterprise Class Linux OS (CentOS)</li>
            <li>Rebootless kernel updates (Ksplice)</li>
            <li>RAID 1 High-through put data storage (available on Elite Dedicated Server packages only)</li>
        </ul>
    </div>
</div><!-- /#developers -->
{% endblock %}
{# testimonial #}
{% block testimonial %}
    <div class="row span8 island sunken">
        <blockquote class="quoted">As a busy developer and site administrator, I know how difficult it is to find a reliable, consistent and accessible hosting company. I have many sites on inmotionhosting.com servers; everything from their budget plans to dedicated servers. They all run quickly and with no downtime."</blockquote>
        <span class="emisor vibrant indentit">
            <span class="quotename">Jason Larson</span>
            <span class="muted quotefrom">Bellingham, WA</span>
        </span>
    </div>
{% endblock %}